<tr>
    <td><%= item.name %></td>
    <td><%= distance_of_time_in_words(7.days.ago, item.created_at)%></td>
    <td><%= link_to "", item, method: :delete, class: 'glyphicon glyphicon-ok' %>   </td>
</tr>